[core]
	excludesfile = /Users/andhes/.global-gitignore
	autocrlf = false
	pager = delta

[user]
	name = Andreas Hesse
	email = andhes@food.dtu.dk
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKNIqVmmrdvUaY3aPOgdKKLSTmeSgu9qPA9EMLverr6L

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[fetch]
	prune = true

[pull]
	rebase = false

[init]
	defaultBranch = main

[gpg]
	format = ssh

# [gpg "ssh"]
# 	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
